.container{
  width: 1170px;
  margin-right: auto;
  margin-left: auto;

}

.tour-wrapper{
  text-align: center;
  margin-bottom: 60px;
}

.tour-items{
  margin-bottom: 60px;
}

.tour-item{
  display: inline-block;
  width: 40%;
  padding: 10px;
}

.tour-name{
  font-size: 18px;
}

input{
  width: 50px;
  text-align: center;
}

input[type="submit"] {
  width: 100px;
  text-align: center;
}

.tour-confirm-wrapper{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #f8f8f8;
  width: 500px;
}

.tour-confirm-wrapper p {
  display: inline-block;
  font-size: 20px;
}

.tour-amount{
  text-align:left;
  width: 40%;
}

.tour-price{
  text-align: right;
  width: 30%;
}

.total-price{
  font-size: 25px;
  font-style: italic;
  color: #0000FF;
  font-weight: bold;

}
